body {
  background-color: #f1f1f1;
  font-family: 'Poppins';
  width:99.9%;
}


.navbar
{
  background-color: #333;
  color:#fff !important;
  
  
}

.navbar-nav
{
  padding-left:200px;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}
.navbar-nav .nav-item .nav-link {
  color: #fff !important;
}
.label-text
{
  padding:00px;
  margin-top:-30px;
  font-size:1vw;
}
.main_image
{
  width:25vw;
  height:10vh;
}
.abcd
{
    
    width:100%;
    height:auto;
    background-color:#333;
}
.abcd1
{
    
    width:100%;
    height:auto;
    color:#fff;
    background: rgba(14, 90, 141, 0.8) url(../img/back5.png);
    background-size:100%;
}
.abcd img
{
    width:100%;
}
.carousel-caption
{
  position:absolute;
  left:00px;
  top:10vw;
  width:100%;
}

@media screen and (max-width: 768px)
{
  .navbar-nav
  {
    padding-left:0px;
  }
  .borderright
  {
    
    border-right: 00px !important;
  }

}
@media screen and (max-width: 678px) {
    .abcd
    {
        width:100%;
        height:auto !important;

    }
    .abcd img
    {
        width:100%;
        height:100%;
    }
    h1
    {
      font-size:7vw !important;
    }
    h2
    {
      font-size:6vw !important;
    }
    h3
    {
      font-size:5vw !important;
    }
    h4
    {
      font-size:4vw !important;
    }
    h5
    {
      font-size:3vh !important;
    }
    .section-head,.section-head1
    {
      height:24vw !important;

    }
    .main_image
    {
      width:45vw;
      height:10vh;
    }
    
}



.tab-card
{
    height:200px;
}
.service-image
{
    height:50px;
    width:50px;
    
}
.service-image1
{
  width:70%;
  height:35vh;
}
.main-pointer
{
    background: rgba(248, 248, 248, 0.1) url(../img/back.jpeg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#fff;

}
.main-pointer1
{
    background: rgba(255, 255, 255, 0.1) url(../img/a.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#fff;

}  

.section-head
{
  background: rgba(0, 0, 0, 0.9) url(../img/a.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#fff;
    width:100%;
    height:20vw;

}
.section-head1
{
  background: rgba(0, 0, 0, 0.6);
    
    width:100%;
    height:20vw;

}





* {
  box-sizing: border-box;
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.single-services h4
{
  color:#444;
}
.single-services a:hover h4 
{
  color:blue;
}

.list-item li
{
  border-bottom :01px solid #333;
} 

.list-group a
{
  color:#333;
}

.btn-zampa
{
  border-radius:08px;
}
.borderright
{
  border-right : 01px solid #333;
}
.client-text img
{
  height:200px;
  width:200px;
  margin:10px 10px 10px 10px;
  
}
.client-text:hover , :focus
{
  color:blue;
  
}
.avatar img
{
  width:200px;
  height:200px;
}
.single-icon i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: 1px solid #444;
  line-height: 46px;
  border-radius: 50%;
  margin-bottom: 20px;
}